.u-section-1 .u-sheet-1 {
  min-height: 123px;
}

.u-section-1 .u-text-1 {
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.625rem;
  margin: 9px 511px -209px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 242px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 152px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 394px;
}

.u-section-2 .u-text-1 {
  margin: 101px 136px 0 auto;
}

.u-section-2 .u-btn-1 {
  --radius: 2px;
  margin: 86px 506px 60px auto;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 86px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 10px;
}.u-block-aa60-2 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 550px);
  top: auto;
  right: auto;
  bottom: -18px;
}

.u-block-aa60-3 {
  position: absolute;
  left: 0;
}

.u-block-aa60-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-aa60-2 {
    left: calc(((100% - 940px) / 2)  + 450px);
  }
}

@media (max-width: 991px) {
  .u-block-aa60-2 {
    left: calc(((100% - 720px) / 2)  + 340px);
  }
}

@media (max-width: 767px) {
  .u-block-aa60-2 {
    left: calc(((100% - 540px) / 2)  + 250px);
  }
}

@media (max-width: 575px) {
  .u-block-aa60-2 {
    left: calc(((100% - 340px) / 2)  + 150px);
  }
}

 .u-section-4-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/images/10bf72df453d9467212e7b39889144e66f63573a07bac3387189d7241dde9a27b7120195ee9c7651529aafa3f0c2adf4b9fb684e043c23677a8286_1280.jpg");
  background-position: 50% 0%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 348px;
}

.u-section-4-1 .u-text-1 {
  font-size: 6rem;
  margin: 71px auto 0;
}

.u-section-4-1 .u-text-2 {
  width: 837px;
  margin: 21px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-4-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-4-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-4-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-4-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/images/10bf72df453d9467212e7b39889144e66f63573a07bac3387189d7241dde9a27b7120195ee9c7651529aafa3f0c2adf4b9fb684e043c23677a8286_1280.jpg");
  background-position: 50% 37.28%;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 348px;
}

.u-section-4-2 .u-text-1 {
  font-size: 6rem;
  margin: 71px auto 0;
}

.u-section-4-2 .u-text-2 {
  width: 837px;
  margin: 21px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-4-2 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-4-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-4-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-4-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-4-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-4-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/images/10bf72df453d9467212e7b39889144e66f63573a07bac3387189d7241dde9a27b7120195ee9c7651529aafa3f0c2adf4b9fb684e043c23677a8286_1280.jpg");
  background-position: 50% 73.89%;
}

.u-section-4-3 .u-sheet-1 {
  min-height: 348px;
}

.u-section-4-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 71px auto 0;
}

.u-section-4-3 .u-text-2 {
  width: 837px;
  margin: 21px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-4-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-4-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-4-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-4-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}